header
{
    z-index: 5;
}

a, a:hover, p, h1, h2, h3, h4, h5, h6
{
    text-decoration: none;
    color:  inherit;
}

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    a,
    a:hover,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-decoration: none;
      color: inherit;
    }

    img {
      user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

#nav-azul
{
    display: flex;
}


@media screen and (max-width: 985px)
{
    #nav-azul
    {
        display: none;
    }
}